extends ../../base
include ../../components/footer/footer
include ../../components/socials/socials
include ../../components/card/card
block title
    title Blog || My portfolio
block header
    header.header.section
        .header-top
            .about-socials
                +socials('white')
            .burger
                include ../../components/burger/burger
        .header-body
            +card(null,'Статьи, которые я написала',1,null,null,null)
        svg(id=`arrow_down`).arrow_down
            use(xlink:href=`/images/sprite.svg#arrow_down`)
block content
    section.blog-content
        .about__triangle-blog
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 85" preserveAspectRatio="none").about__triangle-icon
                polygon(fill="#faf8f0" points="0,0 0,86 500.8,86 500.8,75.5").about__triangle_left
                polygon( fill="#faf8f0" points="1000,0 1000,86 500,86 500,75.5")
        .blog__aside
            ul.article-titles.blog__article-titles
                each item in ['Самое важное в SASS','Приёмы в вёрстке, без которых не обходится ни один сайт']
                    li.article-titles__item.article-titles__item_active
                        a.article-titles__link=item
        .blog__content
            ul.article-list.blog__article-list
                - var article=[{title:'Самое важное в SASS',date:'22 ноября 2017'},{title:'Приёмы в вёрстке, без которых не обходится ни один сайт',date:'22 ноября 2017'}]
                - var text=[{p_1:'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.',p_2:'Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'},{p_1:'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.',p_2:'Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'}]
                    each item in article
                        li.article-list__item
                            h3.article-list__title=item.title
                            span.article-list__date=item.date
                            .article-list__text-content
                                each item in text
                                    p=item.p_1
                                    p=item.p_2



block footer
    +footer(flag,flag)